<div class="main-block">
    <h1>Create Film</h1>
    <form action="/" [formGroup]="createForm">
        <div class="info">
            <input class="fname" type="text" formControlName="name" placeholder="Film Name">
            <input type="text" formControlName="description" placeholder="Description">
            <input type="date" formControlName="release_date" placeholder="Release Date">
            <input type="text" formControlName="rating" placeholder="Rating">
            <input type="text" formControlName="ticket_price" placeholder="Ticket Price">
            <input type="text" formControlName="country" placeholder="Country">
            <input type="text" formControlName="Genre" placeholder="Genre">
            <input type="text" formControlName="photo" placeholder="Photo">
        </div>
        
        <button href="/" class="button" (click) = createFilmApi()>Submit</button>
    </form>
</div>