<div class="row" style="margin-bottom: 2em;">
    <h1>GO-FILMS</h1>

    <a class="myButton" (click)="createFilms()">Create Film</a>

    <a class="myButton" (click) = loginScreen()>Login</a>
    <a class="myButton" (click) = registerScreen()>Register</a>
</div>
<div class="row">
    <div *ngFor="let item of this.filmsList" style="display: inline-block">
        <img src="{{item.photo}}" alt="" (click)="getFilmDetails(item)"
            style="cursor: pointer;max-width: 500px;max-height: 500px;">
    </div>
</div>