<div class="outer">
    <div class="card">
        <div>
            <img src={{this.filmDetails.photo}} alt="Avatar" style="width:500px;height: 700px;">
            <div class="container">
                <h4><b>{{this.filmDetails.name}}</b></h4>
                <p>{{this.filmDetails.description}}</p>
                <div class="items">
                    <span>
                        Rating:
                    </span>
                    <span>
                        {{this.filmDetails.rating}}
                    </span>
                </div>
                <div class="items">
                    <span>
                        Release Date:
                    </span>
                    <span>
                        {{this.filmDetails.release_date}}
                    </span>
                </div>
                <div class="items">
                    <span>
                        Country:
                    </span>
                    <span>
                        {{this.filmDetails.country}}
                    </span>
                </div>
                <div class="items">
                    <span>
                        Genre:
                    </span>
                    <span>
                        {{this.filmDetails.Genre}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>